@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.imgpop_mention {
    font-family: 'Merriweather', serif;
    background-image: url("./../images/bg.png");
    background-color: #cccccc;
}

.bulle {
    border-radius: 25px;
    background-color: RGBA(255, 254, 255, 0.9);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: 65vh;
    width: 80vw;
}

.titre {
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 6.25em;
    opacity: 100%;
    color: #201D1E;
}

.message {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 2.188em;
    font-weight: 600;
    vertical-align: middle;
    opacity: 100%;
    color: #201D1E;
}

.bouton-container {
    margin: 0 auto;
    width: 656px;
    text-align: center;
    padding-top: 50px;
    opacity: 100%;
}

.bouton {
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'lato', sans-serif;
    color: white;
    background-color: black;
    border-color: white;
    border-style: solid;
    margin-left: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 1.25em;
    cursor: pointer;
}

.alien {
    font-family: 'lato', sans-serif;
    color: black;
    text-align: center;
    padding-left: 50px;
    font-size: 1.25em;
    font-weight: 900;
}